%% if self.header {
<h1>Address {{ self.address }}</h1>
%% }
<dl>
  <dt>koinu balance</dt>
  <dd>{{ self.sat_balance }}</dd>
%% if let Some(inscriptions) = self.inscriptions.as_ref().filter(|inscriptions| !inscriptions.is_empty()) {
  <dt>inscriptions</dt>
  <dd class=thumbnails>
%% for inscription in inscriptions {
    {{Iframe::thumbnail(*inscription)}}
%% }
  </dd>
%% }
%% if let Some(dunes_balances) = self.dunes_balances.as_ref().filter(|dunes_balances| !dunes_balances.is_empty()) {
  <dt>dune balances</dt>
%% for (dune, decimal, symbol) in dunes_balances {
%% if let Some(symbol) = symbol {
  <dd><a class=monospace href=/dune/{{ dune }}>{{ dune }}</a>: {{ decimal }}{{ symbol }}</dd>
%% } else {
  <dd><a class=monospace href=/dune/{{ dune }}>{{ dune }}</a>: {{ decimal }}¤</dd>
%% }
%% }
%% }
  <dt>outputs</dt>
  <dd>
    <ul>
%% for output in self.outputs.iter() {
      <li><a class=collapse href=/output/{{ output }}>{{ output }}</a></li>
%% }
    </ul>
  </dd>
</dl>
